body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	color: #555;
	padding: 0;
	margin: 0;
	min-width: 300px;
	max-width: 300px;
	position: relative;
	font-size: 14px;
	background: #f5f5f5;
}
a {
	outline : none;
	color: #3889AB;
}

hr {
	width: auto;
	color: #ccc;
}

.hidden {
	display: none;
}

button {
	-moz-box-shadow:inset 0px 1px 0px 0px #fcf8f2;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fcf8f2;
	box-shadow:inset 0px 1px 0px 0px #fcf8f2;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fae4bd), color-stop(1, #eac380) );
	background:-moz-linear-gradient( center top, #fae4bd 5%, #eac380 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fae4bd', endColorstr='#eac380');
	background-color:#fae4bd;
	-webkit-border-top-left-radius:1px;
	-moz-border-radius-topleft:1px;
	border-top-left-radius:1px;
	-webkit-border-top-right-radius:1px;
	-moz-border-radius-topright:1px;
	border-top-right-radius:1px;
	-webkit-border-bottom-right-radius:1px;
	-moz-border-radius-bottomright:1px;
	border-bottom-right-radius:1px;
	-webkit-border-bottom-left-radius:1px;
	-moz-border-radius-bottomleft:1px;
	border-bottom-left-radius:1px;
	text-indent:0;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	line-height:40px;
	text-decoration:none;
	text-align:center;
	/*text-shadow:1px -21px 0px #cc9f52;*/
}

button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eac380), color-stop(1, #fae4bd) );
  background:-moz-linear-gradient( center top, #eac380 5%, #fae4bd 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eac380', endColorstr='#fae4bd');
  background-color:#eac380;
}

button:active {
	position:relative;
  top:1px;
}

#header {
	padding: 5px 15px 5px 16px;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
	height: 20px;
	width: 100%;
	line-height: 19px;
	background: #134960;
	color: #fff;
}
#header img {
	z-index: 2;
	padding-right: 3px;
}

.favIcon {
	height: 16px;
	width: 16px;
}

.item {

}

.items-list-group {
  height: 200px;
  overflow-y: scroll;
}
.group {
	padding: 5px 0;
}

.menuOption, .item {
	font-size: 17px;
	line-height: 2em;
	white-space: nowrap;
	cursor: pointer;
	padding: 0 15px;
}
.menuOption:hover .optionText {
	text-decoration: underline;
}
.menuOption:hover .fa {
	opacity: 1;
}
.fa {
	margin-right: 5px;
	opacity: 0.8;
}

#tabList {
	padding: 10px 20px;
	margin: 0 auto;
	background-color: #fff;
	width: 580px;
	padding: 10px;
	padding: 5px 10px;
	border-top: 8px solid #555;
	background-color: #fff;
	cursor: pointer;
	font-size: 120%;
	margin: 0 0 .2em 0;
	color: #333;
	text-decoration: none;
	margin: 0;
}

.cat-1 {
	border-top-color: #06f;
	background-color: #fafaff; }
.cat-1:hover {
	border-top-color: #03f;
	background-color: #bdf; }
.cat-2 {
	border-top-color: #c00;
	background-color: #fffaf2; }
.cat-2:hover {
	border-top-color: #900;
	background-color: #fdb; }
.cat-3 {
	border-top-color: #0c0;
	background-color: #f2fff2; }
.cat-3:hover {
	border-top-color: #090;
	background-color: #cfc; }
.cat-4 {
	border-top-color: #639;
	background-color: #fff2ff; }
.cat-4:hover {
	border-top-color: #609;
	background-color: #ecf; }
